/*
 * for creating flex container
 */
.left-top-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.left-middle-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-bottom-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.center-top-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.center-middle-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-bottom-box {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.right-top-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.right-middle-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right-bottom-box {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.spaceBetween-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-reverse {
  flex-direction: row-reverse;
}
