/*
 * Grid layout by flexbox
 */

.grid {
  flex-flow: row wrap;
}

.grid-top {
  align-items: flex-start;
}

.grid-bottom {
  align-items: flex-end;
}

.grid-center {
  align-items: center;
}

@media (--viewport-xs) {
  .cell-vxs {
    flex: 1;
  }
  
  .cell-full-vxs {
    flex: 0 0 100%;
  }
  
  .cell-half-vxs {
    flex: 0 0 calc(100% / 2);
  }
  
  .cell-one-third-vxs {
    flex: 0 0 calc(100% / 3)%;
  }
  
  .cell-quarter-vxs {
    flex: 0 0 calc(100% / 4)%;
  }
}

@media (--viewport-s) {
  .cell-vs {
    flex: 1;
  }
  
  .cell-full-vs {
    flex: 0 0 100%;
  }
  
  .cell-half-vs {
    flex: 0 0 calc(100% / 2);
  }
  
  .cell-one-third-vs {
    flex: 0 0 calc(100% / 3)%;
  }
  
  .cell-quarter-vs {
    flex: 0 0 calc(100% / 4)%;
  }
}

@media (--viewport-m) {
  .cell-vm {
    flex: 1;
  }
  
  .cell-full-vm {
    flex: 0 0 100%;
  }
  
  .cell-half-vm {
    flex: 0 0 calc(100% / 2);
  }
  
  .cell-one-third-vm {
    flex: 0 0 calc(100% / 3)%;
  }
  
  .cell-quarter-vm {
    flex: 0 0 calc(100% / 4)%;
  }
}

@media (--viewport-l) {
  .cell-vl {
    flex: 1;
  }
  
  .cell-full-vl {
    flex: 0 0 100%;
  }
  
  .cell-half-vl {
    flex: 0 0 calc(100% / 2);
  }
  
  .cell-one-third-vl {
    flex: 0 0 calc(100% / 3)%;
  }
  
  .cell-quarter-vl {
    flex: 0 0 calc(100% / 4)%;
  }
}