/*
 * Margin
 */
 
 /* none */
.mg-0 {
  margin: var(--spacing-none);
}

.top-mg-0 {
  margin-top: var(--spacing-none);
}

.right-mg-0 {
  margin-right: var(--spacing-none);
}

.bottom-top-mg-0 {
  margin-bottom: var(--spacing-none);
}

.left-mg-0 {
  margin-left: var(--spacing-none);
}

/* xs */
.mg-xs {
  margin: var(--spacing-xs);
}

.top-mg-xs {
  margin-top: var(--spacing-xs);
}

.right-mg-xs {
  margin-right: var(--spacing-xs);
}

.bottom-top-mg-xs {
  margin-bottom: var(--spacing-xs);
}

.left-mg-xs {
  margin-left: var(--spacing-xs);
}

/* s */
.mg-s {
  margin: var(--spacing-s);
}

.top-mg-s {
  margin-top: var(--spacing-s);
}

.right-mg-s {
  margin-right: var(--spacing-s);
}

.bottom-top-mg-s {
  margin-bottom: var(--spacing-s);
}

.left-mg-s {
  margin-left: var(--spacing-s);
}

/* m */
.mg-m {
  margin: var(--spacing-m);
}

.top-mg-m {
  margin-top: var(--spacing-m);
}

.right-mg-m {
  margin-right: var(--spacing-m);
}

.bottom-top-mg-m {
  margin-bottom: var(--spacing-m);
}

.left-mg-m {
  margin-left: var(--spacing-m);
}

/* xs */
.mg-l {
  margin: var(--spacing-l);
}

.top-mg-l {
  margin-top: var(--spacing-l);
}

.right-mg-l {
  margin-right: var(--spacing-l);
}

.bottom-top-mg-l {
  margin-bottom: var(--spacing-l);
}

.left-mg-l {
  margin-left: var(--spacing-l);
}

/* xl */
.mg-xl {
  margin: var(--spacing-xl);
}

.top-mg-xl {
  margin-top: var(--spacing-xl);
}

.right-mg-xl {
  margin-right: var(--spacing-xl);
}

.bottom-top-mg-xl {
  margin-bottom: var(--spacing-xl);
}

.left-mg-xl {
  margin-left: var(--spacing-xl);
}

/*
 * Centering
 */
.centering {
  margin-right: auto;
  margin-left: auto;
}

/* horizontal */
@media (--viewport-xs) {
  .horizon-mg-0-vxs {
    margin-right: var(--spacing-none);
    margin-left: var(--spacing-none);
  }

  .horizon-mg-xs-vxs {
    margin-right: var(--spacing-xs);
    margin-left: var(--spacing-xs);
  }

  .horizon-mg-s-vxs {
    margin-right: var(--spacing-s);
    margin-left: var(--spacing-s);
  }

  .horizon-mg-m-vxs {
    margin-right: var(--spacing-m);
    margin-left: var(--spacing-m);
  }

  .horizon-mg-l-vxs {
    margin-right: var(--spacing-l);
    margin-left: var(--spacing-l);
  }

  .horizon-mg-xl-vxs {
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
  }
}

@media (--viewport-s) {
  .horizon-mg-0-vs {
    margin-right: var(--spacing-none);
    margin-left: var(--spacing-none);
  }

  .horizon-mg-xs-vs {
    margin-right: var(--spacing-xs);
    margin-left: var(--spacing-xs);
  }

  .horizon-mg-s-vs {
    margin-right: var(--spacing-s);
    margin-left: var(--spacing-s);
  }

  .horizon-mg-m-vs {
    margin-right: var(--spacing-m);
    margin-left: var(--spacing-m);
  }

  .horizon-mg-l-vs {
    margin-right: var(--spacing-l);
    margin-left: var(--spacing-l);
  }

  .horizon-mg-xl-vs {
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
  }
}

@media (--viewport-m) {
  .horizon-mg-0-vm {
    margin-right: var(--spacing-none);
    margin-left: var(--spacing-none);
  }

  .horizon-mg-xs-vm {
    margin-right: var(--spacing-xs);
    margin-left: var(--spacing-xs);
  }

  .horizon-mg-s-vm {
    margin-right: var(--spacing-s);
    margin-left: var(--spacing-s);
  }

  .horizon-mg-m-vm {
    margin-right: var(--spacing-m);
    margin-left: var(--spacing-m);
  }

  .horizon-mg-l-vm {
    margin-right: var(--spacing-l);
    margin-left: var(--spacing-l);
  }

  .horizon-mg-xl-vm {
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
  }
}

@media (--viewport-l) {
  .horizon-mg-0-vl {
    margin-right: var(--spacing-none);
    margin-left: var(--spacing-none);
  }

  .horizon-mg-xs-vl {
    margin-right: var(--spacing-xs);
    margin-left: var(--spacing-xs);
  }

  .horizon-mg-s-vl {
    margin-right: var(--spacing-s);
    margin-left: var(--spacing-s);
  }

  .horizon-mg-m-vl {
    margin-right: var(--spacing-m);
    margin-left: var(--spacing-m);
  }

  .horizon-mg-l-vl {
    margin-right: var(--spacing-l);
    margin-left: var(--spacing-l);
  }

  .horizon-mg-xl-vl {
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
  }
}

@media (--viewport-xl) {
  .horizon-mg-0-vxl {
    margin-right: var(--spacing-none);
    margin-left: var(--spacing-none);
  }

  .horizon-mg-xs-vxl {
    margin-right: var(--spacing-xs);
    margin-left: var(--spacing-xs);
  }

  .horizon-mg-s-vxl {
    margin-right: var(--spacing-s);
    margin-left: var(--spacing-s);
  }

  .horizon-mg-m-vxl {
    margin-right: var(--spacing-m);
    margin-left: var(--spacing-m);
  }

  .horizon-mg-l-vxl {
    margin-right: var(--spacing-l);
    margin-left: var(--spacing-l);
  }

  .horizon-mg-xl-vxl {
    margin-right: var(--spacing-xl);
    margin-left: var(--spacing-xl);
  }
}
